TZ=Europe/Moscow
APP_HOST_PORT=8080

APP_PUBLIC_BASE_URL=https://algaagro.ru
APP_MINI_APP_URL=https://algaagro.ru/miniapp/
APP_MANAGER_CONTACT_URL=https://max.ru/id27849376
APP_MANAGER_DEEP_LINK=max://user/27849376

MAX_BOT_TOKEN=replace_me
APP_STARTUP_ADMIN_USER_IDS=replace_me
MAX_POST_TARGET_CHAT_ID=replace_me

KIE_API_KEY=replace_me
KIE_GEMINI_API_KEY=replace_me
KIE_MODEL=gpt-5-2
KIE_GEMINI_MODEL=gemini-3-flash

BITRIX_SYNC_ENABLED=true
BITRIX_INBOUND_SYNC_ENABLED=false
BITRIX_STARTUP_REPLACE_REMOTE_CATALOG=true
BITRIX_WEBHOOK_BASE_URL=
BITRIX_CATALOG_ID=
BITRIX_BASE_PRICE_TYPE_ID=
BITRIX_CURRENCY_ID=RUB
BITRIX_LEAD_ASSIGNED_BY_ID=
BITRIX_LEAD_SOURCE_ID=
